@font-face {
    font-family: 'iconfont';
    /* Project id 2526627 */
    src: url('//at.alicdn.com/t/font_2526627_uqt1loxkux.woff2?t=1620981179538') format('woff2'),
        url('//at.alicdn.com/t/font_2526627_uqt1loxkux.woff?t=1620981179538') format('woff'),
        url('//at.alicdn.com/t/font_2526627_uqt1loxkux.ttf?t=1620981179538') format('truetype');
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: .16rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} 