@font-face {
    font-family: 'iconfont';
    /* Project id 2526627 */
    src: url('//at.alicdn.com/t/font_2526627_gsvdlmujnoc.woff2?t=1620143081849') format('woff2'),
        url('//at.alicdn.com/t/font_2526627_gsvdlmujnoc.woff?t=1620143081849') format('woff'),
        url('//at.alicdn.com/t/font_2526627_gsvdlmujnoc.ttf?t=1620143081849') format('truetype');
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: .16rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} 